@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #F23E2E;
    --secondary-color: #1C2326;
    --third-color: #5697A6;
}

body {
    position: relative;
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background-color: var(--secondary-color);
    transition: .3s linear;
}

body.show-nav {
    transform: translateX(200px);
}

nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    padding-top: 30px;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    transform: translateX(-100%);
}

.portrait {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

nav ul {
    align-self: flex-start;
    padding-top: 20px;
    width: 100%;
}

nav ul li {
    list-style: none;
    padding: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

nav ul li:first-of-type {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    font-weight: bold;
}

header {
    background-color: var(--primary-color);
    text-align: center;
    height: 250px;
    color: white;
}

.title {
    font-size: 2.5em;
    padding: 40px;
}

header p {
    font-size: 1.2em;
}

button {
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    font-size: 1em;
    border-radius: 8px;
}

button:focus,
input:focus {
    outline: 0;
}

.sign-up {
    background-color: var(--secondary-color);
    margin: 25px;
    padding: 10px 25px;
    color: white;
    border: 1px solid white;
}

.container {
    height: 100vh;
}

main {
    background-color: var(--secondary-color);
    color: #aaa;
    padding: 30px 60px 20px 60px;
}

h2 {
    color: #ddd;
    padding: 20px 0;
}

main ul {
    padding-bottom: 20px;
    text-indent: 40px;
}

.nav-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .4);
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .6);
    display: none;
}

.modal-container.show-modal {
    display: block;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    height: 475px;
    width: 375px;
    border-radius: 5px;
    animation: showModal .3s linear;
}

.modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-close {
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 0;
}

.modal-form {
    padding: 20px;
}

form label {
    display: block;
    padding-top: 15px;
    padding-bottom: 5px;
}

form input {
    width: 100%;
    padding: 10px 0;
    border-radius: 3px;
    border: 1px solid #aaa;
}

form input::placeholder {
    padding-left: 10px;
}

.submit {
    display: block;
    margin: 20px auto 0;
    background-color: var(--secondary-color);
    color: white;
}

@keyframes showModal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}